################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ESSD-CA/obj
/ESSD-CA/bin/Debug/netcoreapp3.1
/ESSD-CA/.vs/ESSD-CA