@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<PurchaseOrderDetails> purchaseOrderDetails = (List<PurchaseOrderDetails>)ViewData["PODetails"];
}
<style>
    @*.text-dark {
        color: #272b30 !important;
    }*@
    .menu {
        margin-left: 20px;
    }
    .menu-list {
        padding: 10px;
        text-decoration: underline;
    }
    .vl {
        border-left: 3px solid green;
        margin: 10px 0;
    }
    .purchased-item{

        width:100%;

        height: fit-content();
    }
    .product-info {
        width:30%;
        display: inline-block;
    }
    .purchase-info {
        display: inline-block;
    }
</style>
@*<div>
    <a class="text-white" asp-area="" asp-controller="" asp-action="">My Purchases</a>

    <div class="d-sm-inline-flex menu">
        <span class="menu-list">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </span>
        <span class="vl"></span>
        <span class="menu-list">
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Logout</a>
        </span>
    </div>

</div>*@


<div class="purchased-item">
    <div class="product-info">
        <table>
            <tr>

                <td><img src="https://cna-sg-res.cloudinary.com/image/upload/q_auto,f_auto/image/13750910/16x9/670/377/fa3e200ec242270cc14d0367d27179c5/OX/state-courts-file-photo-13.jpg" width="350"/></td>

            </tr>
            <tr>
                <td>Product Name</td>
            </tr>
            <tr>
                <td>Product Description</td>
            </tr>
            <tr>

                <td><button href="#">Download</button></td>

            </tr>
        </table>
    </div>

    <div class="purchase-info">

        <table class="purchase-details">
            <tr>
                <td>Purchased On:</td>
                <td>Purcahsed date Logic here</td>
            </tr>

            <tr>
                <td>Quantity:</td>
                <td>Quantity logic here</td>
            </tr>

            <tr>
                <td>Activation Code:</td>
              
                <td>
                    <select name="Acivation-Code">
                        <option value="activationCode">Activation code logic</option>
                    </select>
                </td>
               
            </tr>
        </table>
    </div>
</div>
