@{
    var CustomerMessage = (List<CustomerMessage>)ViewData["CustomerMessages"];
}

@section Scripts{
    <script src="~/js/Enquiry/manage.js"></script>
}

<h3 class="mt-4">Customer Enquiries</h3>
<p></p>

<table class="table mt-3" id="manage_enquiries" style="padding:initial">
    <thead style="white-space:nowrap">
        <tr class="header">
            <td style="width:25rem"><b>Customer Name</b></td>
            <td style="width:75rem"><b>Message</b></td>
            <td style="width:25rem; padding-right:2rem"><b>Enquiry Status</b></td>
            <td style="width:10rem"></td>
        </tr>
    </thead>
    <tbody id="tbd">
        @{
            if (CustomerMessage != null)
            {
                for (var i = 0; i < CustomerMessage.Count; i++)
                {
                    if (CustomerMessage[i].EnquiryStatus == false)
                    {
                    <tr>
                        <td><a href="mailto:@CustomerMessage[i].Email">@CustomerMessage[i].Name</a></td>
                        <td>@CustomerMessage[i].Message</td>
                        <td><b style="text-align:center">Pending</b></td>
                        <td><a href="#" message_id="@CustomerMessage[i].Id" class="btn btn-primary" role="button" aria-pressed="true">Complete & Archive</a> </td>
                    </tr>
                        }
                    }
                }
            }
    </tbody>
</table>
