
@{
    ViewData["Title"] = "Index";
}

<form id="loginform" action="/Login/Authenticate" method="post">
    <table align="center">
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input id="username" name="username" class="form-control" value="@ViewData["username"]" />
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input id="password" name="password" class="form-control" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input id="submitButton" type="submit" class="btn btn-outline-success" />
            </td>
        </tr>
    </table>

</form>



